.form {
    width: 300px;
    height: 100px;
    margin: 0 auto;
    margin-top: 200px;
}

.inputs {
    position: relative;
}

.main-input {
    position: relative;
    background-color: hsla(0,0%,100%,0);
    color: #000;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 10px;
}

.back-input {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    background: #ffffff;
    border: 1px solid gray;
    border-radius: 10px;
}

.main-input:focus, .back-input:focus {
    outline: none;
    border: 1px solid green;
}